// Keyframes


@keyframes slide-down {
  0% {
    height: 0;
  }
  30% {
    opacity: 0;
    transform: translateY(-60px);
  }
  90% {
    height: auto;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes trace {
  0% {
    fill: transparent;
  }
  100%{
    fill: transparent;
    stroke-dashoffset: 0;
  }
}

@keyframes html-fill {
  100% {
    fill: #d51406;
  }
}

@keyframes sass-fill {
  100% {
    fill: #e52489;
  }
}

@keyframes left-slide {
  10% {
    transform: translateX(10px);
  }
  90% {
    transform: translateX(-120px);
  }
}

@keyframes right-slide {
  10% {
    transform: translateX(-10px);
  }
  90% {
    transform: translateX(120px);
  }
}
@keyframes scale-slow {
  30% {
    transform: scale(.9);
  }
  80% {
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
}
