//Flexbox

.main-header,
.nav-bar,
.contact-links,
.email,
.git {
  display: flex;
}

.main-header {
  align-items: center;
  justify-content: center;
}

.nav-bar {
  justify-content: center;
  align-content: center;
}

.contact-links {
  flex-direction: row;
}

.email,
.git {
  justify-content: center;
}

