//Grid
.grid-container,
.skills {
  display: grid;
}

.grid-container {
  grid-template-columns: 100%;
  grid-auto-rows: auto;
}

.skills {
  @include center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}