// images

img {
  width: 100%;
  border: 1px solid #f0f0f0;
  filter: grayscale(100%);
}

.no-filter {
  filter: grayscale(0);
}

svg {
  width: 100%;
}

// .main-header {
//   display: inline-block;
//   background-image: url(../../images/placeimg_640_480_grayscale_tech.jpg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   position: relative;
//   background-position: center;
//   overflow: hidden;
//   transform-origin: 50% 50%;
//   width: 100vw;
//   height: 70vh;
//   max-width: 100%;
//   &:hover {
//     transform: scale(1.5);
//   }
// }