.main-name,
.container {
  width: 90%;
  @include center;
}

.main-header {
  color: $primary-white;
  position: relative;
  background-color: #000;
  text-align: center;
  & img {
    display: block;
    width: 100%;
    height: 100vh;
  }
  & .main-name {
    position: absolute;
  }
}

.nav-bar {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: 1em;
}

.nav-list {
  text-align: center;
  width: 30%;
  padding-inline-start: 0;
  & li {
    margin-bottom: .5em;
  }
  & a {
    color: $primary-white;
    display: inline-block;
  }
  & a:hover {
    color: #a8a8a8;
    transition: all .3s ease-in-out;
    transform: scale(1.3);
  }
}

@keyframes slide-down {
  0% {
    height: 0;
  }
  30% {
    opacity: 0;
    transform: translateY(-60px);
  }
  90% {
    height: auto;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#about {
  padding-left: .5em;
  & .display {
    border-left: 1px solid #000;
    padding-left: .5em;
    max-height: 0;
    overflow: hidden;
  }
  & h2:hover {
    cursor: pointer;
  }
}

@keyframes trace {
  0% {
    fill: transparent;
  }
  100%{
    fill: transparent;
    stroke-dashoffset: 0;
  }
}

@keyframes html-fill {
  100% {
    fill: #d51406;
  }
}

@keyframes sass-fill {
  100% {
    fill: #e52489;
  }
}

#skills {
  transition: all .5s ease-in-out;
  & svg {
    max-width: 20%;
  }
  &:hover {
    cursor: pointer;
  }
}

.html-svg {
  display: inline;
  &:hover .html-logo {
    font-size: 2.5em;
    stroke: #d51406;
    stroke-width: .5;
    stroke-dasharray: 105;
    stroke-dashoffset: 105;
    animation: trace 3s linear forwards,
               html-fill .8s 3s forwards;
  }
}

.css-svg {
  display: inline;
  & .css-logo  {
    transition: transform .5s ease-in-out;
    transform-origin: 50% 50%;
    transform-box: fill-box;
  }
  &:hover .css-logo {
    fill: #2683c8;
    transform: rotateY(180deg);
  }
}

.js-svg {
  display: inline;
  & .js-logo {
    transition: transform .5s ease-in-out;
    transform-origin: 50% 50%;
    transform-box: fill-box;
  }
  &:hover .js-logo {
    fill: #f5e936;
    transform: scale(1.3);
  }
}

.sass-svg {
  display: inline;
  &:hover .sass-logo {
    font-size: 2.5em;
    stroke: #e52489;
    stroke-width: .5;
    stroke-dasharray: 105;
    stroke-dashoffset: 105;
    animation: trace 3s linear forwards,
               sass-fill .8s 3s forwards;
  }
}

.skills {
  text-align: center;
  & .skill {
    max-height: 0;
    overflow: hidden;
  }
}

.slide-down {
  transform-origin: top center;
  animation: slide-down .9s ease-in-out forwards;
}

section {
  border-bottom: 1px solid #c0c0c0;
}

.portfolio-item {
  margin-top: .5em;
  text-align: center;
  border-bottom: 1px solid #c0c0c0;
  &:last-child {
    border-bottom: none;
  }
  & p{
    font-size: 1.5rem;
  }
  & .portfolio-info p {
    font-size: 1rem;
    max-height: 0;
    overflow: hidden;
  }
}

.contact-info {
  padding-bottom: 3rem;
  & p {
    text-align: center;
    color: #d3d3d3;
    position: relative;
    font-size: 3em;
    font-style: italic;
  }
  & span {
    color: #000;
    font-size: .75em;
    position: absolute;
    top: 50%;
  }
  & .footer-sub {
    left: 50%;
  }
}

.contact-links {
  display: inline;
  & a {
    width: 40%;
  }
  & svg:hover {
    cursor: pointer;
  }
}


