.main-name,
.container {
  width: 90%;
  @include center;
}

.main-header {
  color: $primary-white;
  position: relative;
  background-color: #000;
  text-align: center;
  & img {
    display: block;
    width: 100%;
    height: 100vh;
  }
  & .main-name {
    position: absolute;
  }
}

// Trying to create a sliding transition for aboutMe when clicked

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes expand-section {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1.2);
  }
}

#about {
  padding-left: .5em;
  transition: border-bottom .8s ease-in-out;
  & .display {
    border-left: 1px solid #000;
    padding-left: .5em;
    max-height: 0;
    overflow: hidden;
  }
  & h2:hover {
    cursor: pointer;
  }
}

.expand-section {
  animation: expand-section 2s ease-in-out forwards;
}

.slide-down {
  transform-origin: top center;
  animation: slide-down .5s ease-in-out forwards;
}

.nav-bar {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: 1em;
}

.nav-list {
  text-align: center;
  width: 30%;
  padding-inline-start: 0;
  & li {
    margin-bottom: .5em;
  }
  & a {
    color: $primary-white;
    display: inline-block;
  }
  & a:hover {
    color: #a8a8a8;
    transition: all .4s ease-in-out;
    transform: scale(1.3);
  }
}

section {
  border-bottom: 1px solid #f0f0f0;
}

.portfolio-item {
  margin-top: .5em;
  & p:first-of-type {
    font-size: 1.5rem;
  }
  & .portfolio-info {
    border: 1px solid #f0f0f0;
  }
}
