.main-name,
.container {
  width: 90%;
  @include center;
}

.main-header {
  color: $primary-white;
  position: relative;
  background-color: #000;
  text-align: center;
  & img {
    display: block;
    width: 100%;
    height: 100vh;
  }
  & .main-name {
    position: absolute;
  }
}

.nav-bar {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: 1em;
}

.nav-list {
  text-align: center;
  padding-inline-start: 0;
  & li {
    margin-bottom: .5em;
  }
  & a {
    color: $primary-white;
  }
}

section {
  border-bottom: 1px solid #f0f0f0;
}

.portfolio-item {
  border-bottom: 1px solid #f0f0f0;
  margin-top: .5em;
  & p:first-of-type {
    font-size: 1.5rem;

  }
}
