// Media Queries

@media (min-width: 485px) {
  footer h2 {
    margin-bottom: 0;
  }
  .contact-info {
    display: flex;
    padding-bottom: 0;
  }
  .contact-info {
    align-items: center;
    justify-content: space-between;
  }
  .contact-links {
    width: 50%;
  }
}

@media(min-width: 768px) {
  .grid-main {
    display: grid;
    grid-template-columns: 50%;
  }
  #about {
    grid-column: 1 / span 1;
  }
  #skills {
    grid-column: 2 / span 1;
  }
  #portfolio {
    grid-column: 1 / span 2;
  }

  .main-header {
    & .main-name {
      opacity: 0;
    }
    &:hover .main-name {
      opacity: 1;
      transition: .5s ease-in;
    }
    & .main-name:hover {
      cursor: pointer;
    }
  }
  img {
    &:hover {
      cursor: pointer;
      filter: grayscale(0%);
    }
  }
  #scroll {
    display: inline-block;
    position: absolute;
    z-index: 20;
    & .scroll-left,
    & .scroll-right {
    font-size: 2rem;
    font-weight: bold;
    padding: 1em .5em;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    }
  }
  .portfolio-list {
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    & p {
      display: none;
    }
  }
  .portfolio-item {
    display: inline-block;
    margin-right: 5em;
    width: 50%;
    border-bottom: none;
  }
}