//Sections

section,
footer {
  & h2{
    color: $title-color-one;
    position: relative;
    font-size: 3em;
  }
  & span {
    color: $black;
    font-size: .75em;
    position: absolute;
    top: 50%;
  }
  & .heading-sub-one {
    top: 50px;
    left: 140px;
  }
  & .heading-sub-two {
    left: 110px;
  }
  & .heading-sub-three {
    top: 45px;
    left: 120px;
  }
  & .heading-sub-four {
    left: 175px;
  }
}

